<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">name : {{myName}}</h5>
    <h5 class="card-title" *ngIf="test ==='khaled' else notkhaled">name : {{myName}}</h5>
    <ng-template #notkhaled>
      name : not {{myName}}
    </ng-template>
    <img [src]="imgSrc" alt="landscape" class="w-25 h-25">
    <p class="card-text" [ngClass]="{'text-info':test1>1}" [ngStyle]="{'background-color':test1>6?'green':'red'}">With supporting text below as a natural lead-in to
      additional content.</p>
    <button class="btn btn-info" (click)="sayHello()">click me</button>
    <label for="">two way data binding</label>
    <input type="text" class="form-control" [(ngModel)]="test">
    <div>{{test}}</div>
    <div *ngFor="let el of arr; let i = index">
      {{i}} : {{el}}
    </div>
  </div>
  <ul [ngSwitch]="test">
    <li *ngSwitchCase="'khaled1'">1</li>
    <li *ngSwitchCase="'khaled2'">2</li>
    <li *ngSwitchCase="'khaled3'">3</li>
  </ul>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
