<div class="card h-100">
    <img [src]="'https://images.tmdb.org/t/p/original'+movieItem.poster_path" class="card-img-top img-fluid" *ngIf="movieItem.poster_path">
    <div class="card-body">
        <h5 class="card-title">{{movieItem.title | uppercase}}</h5>
        <p class="card-text">{{movieItem.overview}}</p>
        <p class="card-text">{{movieItem.release_date | date:'MMM YYYY'}}</p>
        <button class="btn btn-success text-white" (click)="sendData()"> ADD to Fav</button>
    </div>
</div>
